<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjlu.crm.dao.CrmActivityMapper" >
  <resultMap id="BaseResultMap" type="com.cjlu.crm.domain.CrmActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="activity_desc" property="activityDesc" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_id, date, place, activity_desc, gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crm_activity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCustId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from crm_activity
    where cus_id = #{cusId,jdbcType=INTEGER}
  </select>

  <insert id="insertActivity" parameterType="com.cjlu.crm.domain.CrmActivity">
    insert into crm_activity(cus_id, date, place, activity_desc, gmt_created, gmt_modified)
    values (#{cusId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{place,jdbcType=VARCHAR},
            #{activityDesc,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
</mapper>