<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjlu.crm.dao.CrmChanceMapper" >
  <resultMap id="BaseResultMap" type="com.cjlu.crm.domain.CrmChance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cust_id" property="custId" jdbcType="INTEGER" />
    <result column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="chance_desc" property="chanceDesc" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, prod_id, amount, chance_desc, gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crm_chance
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllChances" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from crm_chance
  </select>

  <delete id="deleteById">
    delete from crm_chance
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertChance" parameterType="com.cjlu.crm.domain.CrmChance">
    insert into crm_chance(cust_id, prod_id, amount, chance_desc, gmt_created, gmt_modified)
    values
    (#{custId,jdbcType=INTEGER}, #{prodId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{chanceDesc,jdbcType=VARCHAR},
    #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateChance" parameterType="com.cjlu.crm.domain.CrmChance">
    update crm_chance
    set cust_id = #{custId,jdbcType=INTEGER}, prod_id = #{prodId,jdbcType=INTEGER}, amount = #{amount,jdbcType=INTEGER},
        chance_desc = #{chanceDesc,jdbcType=VARCHAR}, gmt_modified =  #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>