<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjlu.crm.dao.CrmCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.cjlu.crm.domain.CrmCustomer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_name" property="cusName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="cus_level" property="cusLevel" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_name, sex, region, manager_id, cus_level, credit, addr, phone, memo, status, 
    gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crm_customer
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllCustomers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from crm_customer
  </select>

  <update id="chanceStatusById">
    update crm_customer
    set status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertCustomer" parameterType="com.cjlu.crm.domain.CrmCustomer">
    insert into crm_customer(cus_name,sex, region, manager_id, cus_level, credit, addr, phone, memo, status, gmt_created, gmt_modified)
    values ( #{cusName,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{region,jdbcType=VARCHAR},#{managerId,jdbcType=INTEGER},#{cusLevel,jdbcType=VARCHAR},
             #{credit,jdbcType=INTEGER},#{addr,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
             #{gmtCreated,jdbcType=TIMESTAMP},#{gmtModified,jdbcType=TIMESTAMP});
  </insert>

  <update id="updateCustomer" parameterType="com.cjlu.crm.domain.CrmCustomer">
    update crm_customer
    set cus_name = #{cusName,jdbcType=VARCHAR},sex = #{sex,jdbcType=VARCHAR},region = #{region,jdbcType=VARCHAR},manager_id = #{managerId,jdbcType=INTEGER},
        cus_level = #{cusLevel,jdbcType=VARCHAR}, credit =  #{credit,jdbcType=INTEGER},addr = #{addr,jdbcType=VARCHAR},phone = #{phone,jdbcType=VARCHAR},memo = #{memo,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>