<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjlu.crm.dao.CrmProductsMapper" >
  <resultMap id="BaseResultMap" type="com.cjlu.crm.domain.CrmProducts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
    <result column="prod_desc" property="prodDesc" jdbcType="VARCHAR" />
    <result column="prod_unit" property="prodUnit" jdbcType="VARCHAR" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="prod_store" property="prodStore" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prod_name, prod_desc, prod_unit, purchase_price, sale_price, prod_store, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crm_products
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>